.featuresSection {
  padding: 4rem 1rem;
  color: white;

  overflow: hidden;
}

.featuresSection .bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3; /* Optional overlay effect */
  z-index: -1;
}

.featuresSection .content {
  position: relative;
  z-index: 1;
}

.sectionTitle,
.sec_title {
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

.sec_title {
  margin-top: 34px;
}
.chatBotBox,
.apiBox {
  display: flex;
  align-items: flex-start;
  // gap: 2rem;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.apiBox,
.chatBotBox {
  flex-direction: row-reverse;

  position: relative;
  padding: 0 2rem;
  .shape_top,
  .shape_bottom {
    position: absolute;
    z-index: 55;
    img {
      object-fit: contain;
    }
  }

  .shape_top {
    top: 0;
    right: 0;
  }

  .shape_bottom {
    bottom: 0;
    left: 0;
  }
}

.apiBox {
  flex-direction: row-reverse;
}
.imageWrapper {
  flex-shrink: 0;
}
.apiBox,
.chatBotContent {
  // flex: 1;
  p {
    font-weight: 700;
    color: white;
    font-size: 18px;
  }

  ul {
    li {
      color: white;
      font-weight: 700;
    }
  }
}

h3.topic_title {
  background: linear-gradient(134.22deg, #1a7cbf 9.33%, #25cf42 108%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.sec_title {
  color: #ccc;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.list {
  list-style: disc;
  padding-right: 1.25rem;
  line-height: 1.8;
  color: #eee;
}

@media (max-width: 768px) {
  .chatBotBox,
  .apiBox {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .chatBotContent ul,
  .apiContent ul {
    padding-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .featuresSection {
    padding: 0;
  }
  .imageWrapper,
  .shape_top,
  .shape_bottom {
    display: none;
  }

  h3.topic_title {
    font-size: 23px;
  }
  .apiBox,
  .chatBotBox {
    margin: 0;
    padding: 0;
    margin-top: 44px;
    ul {
      padding: 0 24px 0 0;
      li {
        // list-style-type: none;
        font-size: 16px;
        font-weight: 400;
      }
    }
    .apiContent,
    .chatBotContent {
      text-align: right;
    }
  }
}
