/* styles/hero-section.module.scss */

.heroSection {
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1280px;
  width: 100%;
}

.content {
  flex: 1;
  text-align: right;
  width: fit-content;
}

.content h1 {
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
}

.content p {
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 2rem;
}

.ctaBtn {
  display: block;
  max-width: 70%;
  text-align: center;
  background: var(--gr-color);
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 28px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.ctaBtn:hover {
  background-color: #00523a;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;

  .whtaspp_icon {
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--gr-color);
    border-radius: 50%;
    width: 74px;
    height: 74px;
    display: flex;
    cursor: pointer;
    img {
      margin: auto;
    }
  }
}

.heroImage {
  max-width: 100%;
  height: auto;
  // display: none;
}

@media (max-width: 992px) {
  .imageWrapper {
    width: 100%;
  }

  .buttonWrapper {
    display: flex;

    .ctaBtn {
      margin: auto;
    }
  }

  .imageWrapper {
    position: unset;
  }
  .heroImage {
    position: absolute;
    top: 0;
    z-index: -1;
    right: 0;
    opacity: 1;

    backdrop-filter: blur(25px);
  }
  .container {
    flex-direction: column;
    text-align: center;
  }
  .content {
    text-align: center;
    p {
      font-size: 23px;
      margin-bottom: 16px;
    }

    h1 {
      font-size: 48px;
    }
  }
}
